# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Env / Secrets
.env
.env.*
!.env.example

# Data (adjust if needed)
*.xlsx
